@{
    ViewData["Title"] = "Test Page";
    var products = ViewBag.Products;
}


<h1>In Stock items</h1>


@*
    Display a table here which shows the products with any Available stock
    - use the bootstrap table styling
    - Available stock = Total Stock - Reserved Stock
    - Columns shown:
        - action => with a link to a placeholder product detail page. 
        - Name
        - Total Amount in stock
        - Available stock (this should be orange if < 10 and red < zero)

*@
<div class="right-div"><a href="/ManageProducts"> Manage Product</a></div>

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th> Action </th>
            <th> Name </th>
            <th> Total amount in stock</th>
            <th> Available stock </th>
        </tr>
    </thead>
    @foreach (var item in products)
    {
        <tr>
            <td><a href="ProductDetail/@item.Id">Product Details</a></td>
            <td>@item.Name</td>
            <td>@item.InStockQuantity</td>
            @if (((item.InStockQuantity - item.ReservedQuantity)) < 0)
            {
                <td style="color: red">@((item.InStockQuantity - item.ReservedQuantity)) </td>
            }
            else if (((item.InStockQuantity - item.ReservedQuantity)) < 10)
            {
                <td style="color: orange">@((item.InStockQuantity - item.ReservedQuantity)) </td>
            }
            else
            {
                <td>@((item.InStockQuantity - item.ReservedQuantity)) </td>
            }

        </tr>     
    }
</table>







